@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #fdfdfd;
    font-family: "Nunito", sans-serif;
    font-size: 1rem;
}
main {
    max-width: 100%;
    margin: auto;
    /* text-align: center; */
}
nav {
    background-color: #550CF2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    list-style: none;
    display: flex;
    color: white;
}
li{
    margin: 1rem;
}
h1 {
    margin-left: 00.5rem;
    color: #ffffff;
    margin-bottom: 0.5rem;
}
.parent {
    margin: auto;
    margin-top: 20px;
    box-sizing: border-box;
}
.input {
    
    display: flex;
    align-items: center;
    margin-left:30%;
    margin-top: 15px;
    font-size: 1.1rem;
    border-radius: 10px;
    padding: 10px;
    font-style: italic;
}
p {
    font-size: 1.1rem;
    margin-left:41% ;
    font-weight: 600;
    font-style: italic;
}

.parent {
    overflow-x: scroll;
   border: 2px solid #eee;
   border-radius: 10px;
   
   
   padding: 20px;
   margin: 10px;
   box-shadow: 2px 2px px rgb(151, 155, 168);
}
button {
    
    background-color: #550CF2;
    color: white;
    width: 270px;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 10px;
    margin: 40px;
    border-radius: 10px;
    border-style: outset;
    border-color: rgba(143, 129, 129, 0.644);
    

}
table {
    border-collapse: collapse;
    width: calc(100% - 1px);
    margin-top: 35px;
    margin-bottom: 20px;
    font-size: 0.85rem;
    ;
}
    

th {
    background-color: rgb(241 243 245);
    color: black;
    font-weight: 800;
 

}
td {
    position: relative;
    border: 1px solid #e7e6e6;
    padding: 10px 10px;
    text-align: center;
}
.editable{
    display: inline-block;
    outline: none;
    cursor: text;
    border-radius: 4px;
    padding: 6px 12px 6px 12px;
    font-weight: 700;
    max-width: 200px;

}
.fin ::after {
    content: "";
    background-color: #550CF2;
    align-items: center;
    text-align: center;
    justify-items: center;
    color: white;
    width: 24px;
    height: 24px;
    margin: 3px;
    border-radius: 47px;
    display: flex;

} 
.add{
    background-color: #550CF2;
    color:white;
    border-radius: 10px;
    display: block;
    max-width: 100px;
    text-align: center;

}    

